/* style_result.css */
body {
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 20px auto;
  max-width: 600px;
}

li {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  text-decoration: underline;
}
