<!-- details.html -->
<!DOCTYPE html>
<html>
<head>
  <title>Movie Details</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style_details.css') }}">
</head>
<body>
  <h1>{{ movie['title'] }}</h1>

  <div class="details">
    <div class="poster">
      <img src="{{ movie['full-size cover url'] }}" alt="Movie Poster">
    </div>
    <div class="info">
      <p><strong>Genres:</strong> {% for genre in movie['genres'] %}{{ genre }}{% if not loop.last %}, {% endif %}{% endfor %}</p>
      <p><strong>Rating:</strong> {{ movie['rating'] }}</p>
      <p><strong>Plot:</strong> {{ movie['plot outline'] }}</p>
      <p><strong>Directors:</strong> {% for director in movie['directors'] %}{{ director }}{% if not loop.last %}, {% endif %}{% endfor %}</p>
      <p><strong>Cast:</strong> {% for cast_member in movie['cast'][:5] %}{{ cast_member }}{% if not loop.last %}, {% endif %}{% endfor %}</p>
    </div>
  </div>
</body>
</html>
